<html>
<head>
    <title> project</title>
    <style>
        body
        {
            background-color: coral;
        }
        h1
        {
            color: red;
        }
        table{
            border: 1px solid green;
        }
        tr:nth-of-type(even){
            background-color: gray;
        }
        tr:nth-of-type(odd){
            background-color: yellow;
        }
    </style>
</head>
<body>
<h1>welcome to the world of python</h1>
<h2>Best Employs of myoffice</h2>
<table>
    <thead>
    <th>Name</th>
    <th>Age</th>
    </thead>
    <tr>
        <td>Rajesh</td>
        <td>23</td>
    </tr>
    <tr>
        <td>tiru</td>
        <td>22</td>
    </tr>
</table>
</body>
</html>